.Rproj.user
.RData
.Rhistory
*.Rproj
runs
results/svm.csv
results/rnn.csv
results/svm.npy
results/rnn.npy
results/georectified.csv
results/teacher.npy
data/tateyama2.tiff
data/mrd_dem_1m.tiff
data/hand_picked_gcp/with_distortion/georectified.csv
data/hand_picked_gcp/wo_distortion/georectified.csv
data/hand_picked_gcp/silhouette/georectified.csv
data/pointcloud.db
runs/cv/rnn1x1/fold_0/pred.npy
runs/cv/rnn1x1/fold_1/pred.npy
runs/cv/rnn1x1/fold_2/pred.npy
runs/cv/rnn1x1/fold_3/pred.npy
runs/cv/rnn1x1/fold_4/pred.npy
data_source/mask.npy
data_source/mask_all.npy
